[Unit]
Description=Print Watcher
After=network.target
Documentation=https://cloud.hebbie.de/docs/pwatch.html

[Service]
ExecStart=/usr/local/bin/pwatch
User=root

[Install]
WantedBy=multi-user.target
